.text-hover-decoration {
    text-decoration: none;
}

.text-hover-decoration:hover{
    text-decoration: underline;
}

.min-vh-25{
    min-height: 25vh;
}

.min-vh-50{
    min-height: 50vh;
}

.min-vh-75{
    min-height: 75vh;
}